/**
 * Reset CSS
 * https://github.com/necolas/normalize.css/
 */
@import 'normalize.css';

/**
 * Load page blocks
 */
@import './pages/_index.pcss';

/**
 * Reset font-family
 */
body {
    font-family: system-ui;
}
