/**
 * CSS library that provides consistent, cross-browser
 * default styling of HTML elements alongside useful defaults.
 * https://github.com/csstools/sanitize.css
 */
@import 'sanitize.css';

/**
 * Load page blocks
 */
@import './pages/_index.pcss';
